[run]
omit =
    */migrations/*
    */tests/*
    */test_*.py
    */__pycache__/*
    core/tasks.py
    core/tests.py
    core/views.py
    */conftest.py
    */factories.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
precision = 2
