[run]
omit =
    */migrations/*
    */tests/*
    */test_*.py
    */__pycache__/*
    core/tests.py
    */conftest.py
    */factories.py
    core/management/commands/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
precision = 2
