# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
.Python

# Virtual Environment
.venv/
venv/
ENV/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media
/static
local_settings.py

# Environment variables
.env

# Testing
.coverage
.pytest_cache/
htmlcov/
.tox/
.coverage.*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# pytype
.pytype/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# other
_archive/
repomix-output.json
compress-repomix-output.json
*.md
